@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
    font-family: 'Jacques Francois';
    font-size: 20px;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 129px;
    height: 125px;
}

.logo-nome {
    font-family: 'Jacques Francois', serif;
    color: #483C52;
    font-size: 24px;
}

#menu {
    margin: auto;
    padding-right: 69px ;
}

.menu-lista {
    padding-left: 47px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#formulario-botoes {
    display: flex;
}

.formulario-botao-login {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    color: #130C1B;
    border-radius: 40px;
    background: linear-gradient(90deg, #AE68EF 67.83%, #B682E6 100%);
    padding: 15px 47px;
    margin-right: 49px;

}

.formulario-botao-registrar {
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 46px;
    background-color: #523170;
    padding: 15px 47px;
    margin-right: 49px;
}

.formulario-botao-login:hover{
    cursor: pointer;
}

.formulario-botao-registrar:hover {
    cursor: pointer;
}

#home-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 70px;
}

.home-section-text {
    padding-top: 70px;
    width: 502px;
    height: 356px;
}

.home-section-text-title {
    font-family: 'ABeeZee', sans-serif;
    color: #523170;
    font-size: 76px;
    width: 502px;
}

.home-section-text-p {
    font-family: 'ABeeZee', sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: black;
    width: 502px;
    padding-top: 10px;
}

#button {
    display: flex;
    justify-content:center;
}

.home-section-button {
    border-radius: 40px;
    background: linear-gradient(90deg, #AE68EF 67.83%, #B682E6 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 20px;
    font-size: 24px;
    font-family: 'ABeeZee', sans-serif;
}

.home-section-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    #home-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
        scale: 70%;
    }

    .home-section-text {
        padding-top: 20px;
        width: 492px;
        height: 346px;
    }

    .home-section-img-ilustration {
        width: 706px;
        height: 451px;
    }
}

@media screen and (max-width: 720px) {
    header {
        margin: 0;
        padding: 0;
    }

    div#cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        margin: 0;
        padding: 0px;
        scale: 80%;
    }

    .menu-lista {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 2px;
    }


    #formulario-botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .formulario-botao-login {
        margin: 0;
        padding: 5px 28px;
    }

    .formulario-botao-registrar {
        margin: 0;
        padding: 5px 7px;
    }

    #home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        scale: 70%;
    }
    
    .home-section-text {
        width: 502px;
        height: 356px;
    }
    
    .home-section-text-title {
        font-family: 'ABeeZee', sans-serif;
        color: #523170;
        font-size: 76px;
        width: 502px;
    }
    
    .home-section-text-p {
        font-family: 'ABeeZee', sans-serif;
        font-size: 24px;
        font-weight: 200;
        color: black;
        width: 502px;
        padding-top: 10px;
    }
    
    #button {
        display: flex;
        justify-content: center;
    }
    
    .home-section-button {
        border-radius: 40px;
        background: linear-gradient(90deg, #AE68EF 67.83%, #B682E6 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 15px 20px;
        font-size: 24px;
        font-family: 'ABeeZee', sans-serif;
    }

    .home-section-img-ilustration {
        padding: 0;
        margin: 0;
        display: flex;
        width: 506px;
        height: 351px;
    }

}